.navbar {
  padding-left: 20px;
  padding-bottom: 10px;
  color: rgb(255, 255, 255);
  background-color: #322a26;
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
